.datePickerWrapper {
  position: relative;
  display: inline-block;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.calendarIcon {
  stroke: #000;
  fill: #fff;
}

.dateText {
  font-size: 16px;
  color: #000;
}
